@{
    ViewBag.Title = "Confirmación de contraseña olvidada";
}

<!--PARA CUALQUIER PAGINA AGREGAR EL HEAD Y EL BODY-->
<!--INTERFAZ ARREGLADA-->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/icono-eco.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/style.css">
</head>

<body>

    <div id="Container3">

        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
        </hgroup>
        <div>
            <p>
                Compruebe el correo electrónico para restablecer la contraseña.
            </p>
        </div>
    </div>
</body>

