@{
    ViewBag.Title = "About";
}

<!--PARA CUALQUIER PAGINA AGREGAR EL HEAD Y EL BODY-->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/icono-eco.png" type="image/x-icon">
    <link rel="stylesheet" href="~/Content/style.css">
</head>

<body>

    <section class="acciones-empresa">
        <h2 class="titulo">¿Que hacemos?</h2>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores ratione fuga assumenda laudantium,
            ut eos provident, reprehenderit et explicabo minus commodi, cumque obcaecati. Minus quas veritatis velit nam
            maiores reprehenderit consectetur laborum at praesentium, distinctio culpa quo unde tempore dolore corporis! Quas voluptatibus dolor
            debitis facere similique maiores dolore! Perspiciatis adipisci labore dignissimos id possimus facere velit consequuntur ipsa consequatur, maiores doloribus
            quia officiis natus placeat cumque eligendi. Impedit, quisquam modi eius rem molestiae tenetur minima est autem dolorem omnis
            quaerat asperiores nisi, fugit sed quia adipisci, quae at blanditiis culpa! Quam repudiandae reiciendis nam pariatur, facilis distinctio similique excepturi!
        </p>
    </section>


    <!--Tarjetas-->

    <section class="principales-clientes">
        <section class="clientes contenedor">
            <h2 class="titulo">Nuestros Clientes</h2>
            <div class="cards">
                <div class="card">
                    <img src="~/Imagenes/face2.jpg" alt="">
                    <div class="contenido-texto-card">
                        <h4>Cliente 1</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum, odit.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="~/Imagenes/face3.png" alt="">
                    <div class="contenido-texto-card">
                        <h4>Cliente 2</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum, odit.</p>
                    </div>
                </div>
            </div>
        </section>
    </section>

    <section>
        <h2 class="titulo">Contactos</h2>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Celular</h4>
                <p>+56 9 8765 4321</p>
            </div>
            <div class="content-foo">
                <h4>Email</h4>
                <p>ecofit@gmail.com</p>
            </div>
            <div class="content-foo">
                <h4>Ubicaciones</h4>
                <p>Santiago Centro, 2414</p>
            </div>
        </div>
    </section>


</body>
